# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Go workspace file
go.work
go.work.sum

# env file
.env

# CUSTOM: Ignore local editor settings
.vscode/

# CUSTOM: Ignore generated Wasm data
data.go
internal/contact/data.go
main.wasm
wasm_exec.js

# CUSTOM: Build distribution & toolchains
dist/
.tools/
tinygo/
binaryen*/
*.tar.gz